#content {
    width: 600px;
    margin: auto;
    border: 3px solid black;
    padding: 20px;
    border-radius: 10px;
    font-family: "Afacad Flux", sans-serif;
    background-color: black;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
}

#diggad{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

body {
    color:white;
}

a{
    color:white;
}

h1:hover {
           
}